.idea
.idea_modules
common/target
project/project
project/target
target
.settings/
.cache
.scala_dependencies
.history
stats/
bin/**
tmp_*
tmp/
utils/assembly/silicon.jar
utils/scripts/z3_tidy.jar
utils/tidy_smtlib/tidy_smtlib.jar
utils/scripts/tidy_smtlib.jar
silicon_classpath.txt
lib/
silver
viper_tutorial_examples/
